
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

* {
    /* outline: 1px solid lightgray; */
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 5px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

th {
  padding-top: 10px;
}

td {
  padding: 2px;
  padding-right: 40px;
}

thead,th, tbody {text-align: start;}

th.category-title {text-align: center;}

.input-search {
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}

.frame {
	padding: 5px;
	margin-bottom: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	max-width: 300px;
}

.product-table{
	width: 100%;
}

.scientists {margin-top: 20px;}
.avatar { margin: 5px; border-radius: 50%; min-height: 70px; }
.profile {
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px 20px;
}
.profileList {padding: unset;}

ul {
  padding-inline-start: 20px;
}

ul { list-style-type: none; padding: 0px 10px; }
li {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}
img { width: 100px; height: 100px; border-radius: 50%; }

.title {margin-left: 20px; margin-bottom: 10px;}
.article {
	max-width: 600px;
	padding: 10px 10px;
	border: 1px solid #d3d3d3;
	border-radius: 10px;

}

.flex {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	gap: 5px;
}

.flex-start {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: flex-start;
	gap: 15px;
}

.center {text-align: center;}

.person-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
}

.modern-line {
    border: none;
    border-top: 2px solid #333;
    color: #333;
    height: 0;
    width: 80%;
    margin: 30px auto; /* Центрирование и отступы */
}

.separ-line {
    border: none;
    border-top: 1px dashed rgb(146, 146, 236);
    color: #333;
    height: 0;
    width: 50%;
    margin: 20px auto; /* Центрирование и отступы */
}

ul.list {margin-left: 40px; list-style-type: auto}
.list-item {list-style: disc;}
.list-item::before {content: •;}

.list {display: flex;
justify-content: flex-start;
align-items: center;
gap: 15px;
}

.list-title {width: 240px;}

.list-grid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	align-items: center;
	gap: 15px;
}

.button-set {display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.button-inset {
	width: 152px;
    appearance: none;
    padding: 0.5rem 1rem;
    border: none;
	border-radius: 6px;
	text-align: center;
	/* outline: 1px solid rgba(0, 0, 0, 0.2); */
    background: #f0f0f0;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.button-inset--small {width: 70px;}

.button-inset:active {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.button-inset:hover {outline: 1px solid rgba(0, 0, 0, 0.25);}

.input-inset {
	margin-right: 10px;
	/* width: 152px; */
    appearance: none;
    padding: 0.5rem 1rem;
    border: none;
	border-radius: 6px;
	/* text-align: center; */
	/* outline: 1px solid rgba(0, 0, 0, 0.2); */
    background: transparent;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.input-inset:active, .input-inset:focus {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
	outline: 1px solid rgba(0, 0, 0, 0.25);
}

.input-inset:hover {outline: 1px solid rgba(0, 0, 0, 0.25);}

/* Для PictureBg */
.background {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  cursor: pointer;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid transparent;
}

.picture--active {
  border: 5px solid #a6b5ff;
}

.label-title{ width: 12ch;}
.label-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	line-height: 34px;
}
