
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

* {
    /* outline: 1px solid lightgray; */
}

.dark { background: #444141; color: #eee; }

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 5px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

th {
  padding-top: 10px;
}

td {
  padding: 2px;
  padding-right: 40px;
}

thead,th, tbody {text-align: start;}

th.category-title {text-align: center;}

.input-search {
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}

.frame {
	padding: 5px;
	margin-bottom: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	max-width: 300px;
}

.wrapper {
	display: flex;
	gap: 15px;
}

.product-table{
	width: 100%;
}

.scientists {margin-top: 20px;}
.avatar { margin: 5px; border-radius: 50%; min-height: 70px; }
.profile {
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px 20px;
}
.profileList {padding: unset;}

ul {
  padding-inline-start: 20px;
}

ul { list-style-type: none; padding: 0px 10px; }
li {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}
img { width: 100px; height: 100px; border-radius: 50%; }

.image {border-radius: 8px; width: revert-layer; height: revert-layer;}

.title {margin-left: 20px; margin-bottom: 10px;}
.article {
	max-width: 600px;
	padding: 10px 10px;
	border: 1px solid #d3d3d3;
	border-radius: 10px;
}
.article--50 {max-width: 46%; flex-grow: 1;}

.flex {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	gap: 5px;
}

.flex-start {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: flex-start;
	gap: 15px;
}
.chat {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	/* padding: 8px;
    border: 1px solid #d3d3d3;
    border-radius: 5px; */
}

.chat textarea {width: 100%; resize: none; margin-right: unset;}

.grid {
	display: grid;
	grid-template-columns: 13ch auto 0.3fr;
	align-items: center;
}

.grid-25ch-2fr {
	display: grid;
	grid-template-columns: 28ch auto auto;
	align-items: center;
	gap: 15px;
}

.task-input {min-width: 25ch;}
.center {text-align: center;}

.person-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 8px;
}

.modern-line {
    border: none;
    border-top: 2px solid #333;
    color: #333;
    height: 0;
    width: 80%;
    margin: 30px auto; /* Центрирование и отступы */
}

.separ-line {
    border: none;
    border-top: 1px dashed rgb(146, 146, 236);
    color: #333;
    height: 0;
    width: 50%;
    margin: 20px auto; /* Центрирование и отступы */
}

.modern-line--thin {
	border: none;
	border-top: 1px solid #333;
	color: #333;
	height: 0;
	width: 80%;
	margin: 8px auto; /* Центрирование и отступы */
}

.dark .modern-line, .dark .modern-line--thin {
	border-color: #eee;
	color: #eee;
}

ul.list {margin-left: 40px; list-style-type: auto}
.list-item {list-style: disc;}
.list-item::before {content: •;}

.list {
	padding: 1px 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	width: 80%;
}

.list-title {width: 240px;}

.list-grid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	align-items: center;
	gap: 15px;
}

.button-set {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
}

.button-inset {
	width: 152px;
    appearance: none;
    padding: 0.5rem 1rem;
    border: none;
	border-radius: 6px;
	text-align: center;
	/* outline: 1px solid rgba(0, 0, 0, 0.2); */
    background: #f0f0f0;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.dark .button-inset {
	background: #555555;
	color: #eee;
	box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.2);
}

.button-inset--small {width: 70px;}
.button-inset--middle {width: 100px;}
.button-inset--full {width: unset;}

.button-inset:active, .button-inset--active {
    box-shadow: inset 0px 0px 5px rgba(167, 167, 167, 0.3);
}

.button-inset:hover {outline: 1px solid rgba(168, 168, 168, 0.25);}
.dark .button-inset:hover {outline: 1px solid rgba(255, 255, 255, 0.25);}

.button-inset:disabled {
	background: #e0e0e0;
	color: #a0a0a0;
	cursor: not-allowed;
	box-shadow: none;
	outline: none;
}

.input-inset {
	margin-right: 10px;
	/* width: 152px; */
    appearance: none;
    padding: 0.5rem 1rem;
    border: none;
	border-radius: 6px;
	/* text-align: center; */
	/* outline: 1px solid rgba(0, 0, 0, 0.2); */
    background: transparent;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.dark .input-inset {
	background: #555555;
	color: #eee;
	box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.2);
}

.select-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;

	padding: 0.5rem;
	cursor: pointer;
}

.select-wrapper select {
	appearance: none;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 6px;
	background: transparent;
	/* box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2); */
	transition: box-shadow 0.3s;
	cursor: pointer;
}

.select-wrapper select:focus-visible {
	/* box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
	outline: 1px solid rgba(0, 0, 0, 0.25); */
	appearance: none;
	outline: none;

}


.input-inset--select{
	position: relative;
	padding: 0.5rem;
	cursor: pointer;
}
.select-wrapper:after {
	content: "▼";
	/* position: absolute; */
	/* right: 10px;
	top: 50%;
	transform: translateY(-50%); */
	pointer-events: none;

}

.input-inset:active, .input-inset:focus {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
	outline: 1px solid rgba(0, 0, 0, 0.25);
}

.input-inset:hover {outline: 1px solid rgba(0, 0, 0, 0.25);}

.dark .input-inset:hover {outline: 1px solid rgba(255, 255, 255, 0.25);}
.dark .input-inset:active, .dark .input-inset:focus {
	box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.3);
	outline: 1px solid rgba(255, 255, 255, 0.25);
}

/* Для PictureBg */
.background {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  cursor: pointer;
}

.background--active {
  background: #a6b5ff;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid transparent;
}

.picture--active {
  border: 5px solid #a6b5ff;
}

.picture-wrapper {
	width: 100%;
	overflow-x: hidden;
}

.picture-list {
	padding: 1px 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	width: fit-content;
	/* overflow: hidden; */
}
.picture-item {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border: 5px solid transparent;
	transition: all 0.5s linear;
}
.picture-item-img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all 0.2s linear;
}
.picture-item-img.active {
  outline: 5px solid #a6b5ff;
}

.label-title{ width: 12ch;}
.label-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	line-height: 34px;
}

.label-item--nerrow {line-height: normal;}

.text {white-space: nowrap;}

.highlighted { background: #d2eaff; }
.panel {
  padding: 10px;
  border: 1px solid #aaa;
}
.panel-title {margin-bottom: 8px;}
.counter {
	margin: 0 20px 20px 0;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	width: 100px;
	text-align: center;
	border: 1px solid gray;
	border-radius: 4px;
}

.hover {
  background: #ffffd8;
}

.message {
  text-align: center;
  align-self: center;
  color:red;
}

.dark .message {
  color: #eef7a0;
}
